version: "3"

services:

  nodered:
    image: nodered/node-red
    environment:
      - TZ=${TZ}
    ports:
      - 1880:1880
      - 9229:9229
    volumes:
      - .:/workspace
    depends_on:
      - mssql

  # https://hub.docker.com/_/microsoft-mssql-server
  mssql:
    build:
      context: ./docker
    environment:
      - TZ=${TZ}
      - "ACCEPT_EULA=Y"
      - "MSSQL_SA_PASSWORD=P@ssw0rdP@ssw0rd"
      # - MSSQL_PID=Express
    ports:
      - 2433:1433
